<!doctype html>
<html lang="en">

<head>
	<title>error</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/user/css copy/style.css">
	<link rel="stylesheet" href="sweetalert2.min.css">

</head>
<body>
    <div class="container-fluid pt-4 px-4">

        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <br>
                <br>
                <br>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">Page Not Found</h1>
                <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
                    Maybe go to our home page or try to use a search?</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
            </div>
        </div>
    </div>
    

	</script>
	<script src="sweetalert2.all.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.min.js"></script>

	<script src="/user/js copy/jquery.min.js"></script>
	<script src="/user/js copy/popper.js"></script>
	<script src="/user/js copy/bootstrap.min.js"></script>
	<script src="/user/js copy/main.js"></script>


</body>

</html>