<form action="/resets" method="post">


     <div class="form-group mb-3">

		<input name="userid" value="<%= userid%>" hidden>


	            	

	            <div class="form-group mb-3">
	            	<label class="label" for="password">Password</label>
	              <input id="" type="password" name="password" class="form-control" placeholder="Password">
	             
	            </div>

                <button type="submit">submit</button>

			</div>
</form>